<div class="container-fluid">
    <div class="jumbotron" style='text-align: center;'>
        <h1>Event Countdown App!</h1>
    </div>
    <div class="row">
        <div class="col">
            <app-sharp></app-sharp>
        </div>
        <div class="col">
            <app-weather></app-weather>
        </div>
        <div class="col">
            <app-movies></app-movies>
        </div>
        <div class="col">
            <app-news></app-news>
        </div>
        <div class="col">
            <app-countdown></app-countdown>
        </div>
    </div>
</div>

