<h1>Countdown!</h1>
<ul>
    <li>My birthday in:
        <ul>
            <li>
                <div class="timer">
                    <span id="days"> {{daysToDday}} </span>Day(s)
                    <span id="hours"> {{hoursToDday}} </span>Hrs 
                    <span id="minutes"> {{minutesToDday}} </span>Min
                    <span id="seconds"> {{secondsToDday}} </span>S
                </div>
            </li>
        </ul>
    </li>
    <li>My gutters get replaced tomorrow!</li>
    <li>Dune comes out ????</li>
</ul>

<hr />
<p></p>
<p>Event Name:<br />
    <input type="text" name="event_name" /></p>
<p>Event Date:<br />
<input type="text" name="event_date" /></p>
<p>Event Description:<br />
<input type="text" name="event_description" /></p>